<nav>
  <ul>
    <li> <a routerLink="/"> Home</a>  </li>
    <li> <a routerLink="/notes"> Home</a>  </li>



    <li> <a [routerLink]="['/notes','111']"> Note 111</a>  </li>
    <li> <a [routerLink]="['/notes','112']"> Note 112</a>  </li>
    <li> <a [routerLink]="['/notes','113']"> Note 113</a>  </li>
    <li> <a routerLink="/about"> About</a>  </li>

    <button (click)="NavigateToNotes()">Got To Notes</button>
    <button (click)="NavigateToNote(234)">Got To a Notes</button>

    
  </ul>
</nav>

<router-outlet />

<h1>Footer</h1>
